header {
  display: grid;
  grid-template: 0.3fr 1fr / 2.5rem 2fr 0.1fr 0.1fr 0.3fr;
  font-size: var(--h2-font-size);
  font-weight: var(--font-medium);
  padding: 1.5rem 2.5rem;
  align-items: center;
  justify-items: center;
}

.search-bar {
  background-color: var(--neutral-gray);
  grid-column: span 1;
  border-radius: 2rem;
  width: 60%;
  height: 2.3rem;
}

.avatar {
  background-color: var(--neutral-gray);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.item:nth-child(1),
.item:nth-child(2) {
  justify-self: start;
}
