:root {
  --primary-blue: hsl(199, 89%, 48%);
  --primary-yellow: hsl(45, 93%, 47%);

  --neutral-white: hsl(0, 0%, 98%);
  --neutral-gray: rgb(232, 237, 243);
  --neutral-black: hsl(0, 0%, 4%);

  --body-font: 'Roboto', sans-serif;

  --biggest-font-size: 1.55rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.6rem;

  --font-medium: 500;
  --font-bold: 700;
}
